        <%=stylesheet_link_tag "/stylesheets/calendar/grey/tableless.css" %>

        <div id="getting-started">
          <h1>div_calendar::text_and_link</h1>
          <p>We modify the original plugin for one project, creating a fork to including support for HTML in cell_text var. For that, we create a <tt>:label</tt> option in the calendar method, and populate a secondary array with dates and HTML for labels. In the real application, these datas comes from an storage database engine.</p>
<p>Juca</p>
          <%= tableless_calendar({:year => 2010, 
                                  :month => 11, 
                                  :layout => 'tableless', 
                                  :next_month_text => '<a href="#">next</a>', 
                                  :previous_month_text => '<a href="#">previous</a>'}) do |d| 
            if @listOfSpecialDays.include?(d)
              [d.mday, {:day_class => "special-day", :label => @listOfSpecialDetails[d.to_s][0][:label] } ]
            else
              [d.mday, {:day_class => "day"} ]
            end
          end %>
          
          <p>Code:<br>
          <pre>
&lt;%= tableless_calendar({:year => 2010, :month => 11, 
              :layout => 'tableless'}) do |d| 
  if @listOfSpecialDays.include?(d)
    [d.mday, {
      :class => "specialDay", 
      :label => @listOfSpecialDetails[d.to_s][0][:label] 
    } ]
  else
    [d.mday, {:class => "normalDay"} ]
  end
end%&gt;
          </pre>
          </p>
        </div>
