        <%=stylesheet_link_tag "/stylesheets/calendar/red/style.css" %>
        <div id="getting-started">
          <h1>table_calendar</h1>
          <p>This is a original calendar helper example.</p>
          <%= calendar({:year => 2010, :month => 11}) do |d| 
            if @listOfSpecialDays.include?(d)
              [d.mday, {:class => "specialDay" } ]
            else
              [d.mday, {:class => "normalDay"} ]
            end
          end %>
          <p>Code:<br>
          <pre>
&lt;%= calendar({:year => 2010, :month => 11}) do |d| 
  if @listOfSpecialDays.include?(d)
    [d.mday, {:class => "specialDay" } ]
  else
    [d.mday, {:class => "normalDay"} ]
  end
end%&gt;
          </pre>
          </p>
        </div>
        
